@media (max-width: 968px) {
    .container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    #contact {
        padding: 60px 20px;
    }
    
    #contact h2 {
        font-size: 2rem;
    }
}


@media (max-width:800px) {

    #content {
        margin-top: 0rem;
       
    }

    .main .hero {

        flex-direction: column;
        /* justify-content: space-between;
        align-items: start;
        padding: 2rem 3rem; */


    }

    .main .hero .text {
        width: 100%;



    }

    .main .hero .image {
        margin-top: 0px;
        width: 100%;

        height: fit-content;
        margin-top: 36px;

    }

    /* Companies */
    #companies {

        gap: 1rem 2rem;



    }

    /* services */
    #services .services-heading-para {
        flex-direction: column;
        padding: 8px 24px;
    }

    #services .services-heading-para h3 {
        margin-right: 0;
    }

    #services .services-heading-para p {
        margin-top: 12px;
        line-height: 1.5rem;
        width: 100%;

    }

    #services .container {
        padding: 2rem 1.5rem;
    }

    #services .container .elem {




        width: 100%;
        height: auto;
        row-gap: 2rem;
    }

    #services .container .elem .heading-image img {
        height: 150px;
    }

    #services .container .elem .button-div button span {
        font-size: 18px;
    }

    #services .container .elem .button-div button i {
        font-size: 1.2rem;


    }



    /* our story */

    #our-story .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;


    }

    #our-story .container .image-div {
        width: 100%;

    }

    #our-story .container .text {
        width: 100%
    }
}



@media (max-width: 640px) {
    #contact {
        padding: 40px 15px;
    }

    #contact h2 {
        font-size: 1.75rem;
        margin-bottom: 35px;
    }

    .info,
    .form-div {
        padding: 25px;
    }

    .info p {
        font-size: 1rem;
    }

    .social a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .form-div input,
    .form-div textarea {
        padding: 12px 16px;
        font-size: 0.95rem;
    }

    .form-div button {
        padding: 12px 30px;
        font-size: 1rem;
    }
}


@media (max-width: 480px) {
    #contact h2 {
        font-size: 1.5rem;
    }

    .info,
    .form-div {
        padding: 20px;
        border-radius: 15px;
    }

    .social {
        gap: 10px;
    }
}